@using Web.Components.Custom.Auth
@using Web.Services
@inherits LayoutComponentBase
@inject LayoutState LayoutState
@implements IDisposable

@* Required *@
<MudThemeProvider Theme="_theme" IsDarkMode="@LayoutState.IsDarkMode" />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    @if (_isLoggedIn)
    {
        <MudDrawer @bind-Open="@_isDrawerOpen" Fixed="true" Elevation="1" Variant="@DrawerVariant.Mini"
                   OpenMiniOnHover="false" Breakpoint="Breakpoint.None">
            <MudNavMenu>
                @if (_isDrawerOpen)
                {
                    <MudNavLink Icon="@Icons.Material.Filled.KeyboardDoubleArrowLeft" OnClick="ToggleDrawer">
                    </MudNavLink>
                }
                else
                {
                    <MudNavLink Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" OnClick="ToggleDrawer">
                    </MudNavLink>
                }
            </MudNavMenu>

            <NavMenu />

            <MudSpacer />

            @if (_isDrawerOpen)
            {
                <MudStack Class="m-4" Row="true" AlignItems="AlignItems.Center">
                    <MudPaper Elevation="0" Style="background-color: transparent;">
                        <MudIcon Icon="@Icons.Material.Filled.Person" Size="Size.Large" />
                    </MudPaper>
                    <MudPaper Elevation="0" Style="background-color: transparent;">
                        <MudStack Row="false" Spacing="0">
                            <MudPaper Elevation="0" Style="background-color: transparent;">
                                <MudText Typo="Typo.body1">Admin</MudText>
                            </MudPaper>
                            <MudPaper Elevation="0" Style="background-color: transparent;">
                                <MudText Typo="Typo.body2">admin@homelab</MudText>
                            </MudPaper>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            }
        </MudDrawer>
    }
    <MudMainContent Class="pa-6">
        @if (_isLoggedIn)
        {
            @Body
        }
        else
        {
            <Login />
        }
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    @* Temporary *@
    public bool _isLoggedIn = true;

    private MudTheme _theme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Google Sans Flex", "Helvetica", "Arial", "sans-serif" }
            }
        },
        PaletteLight = new PaletteLight()
        {
            Primary = Colors.DeepPurple.Default, // #673AB7
            Secondary = Colors.Amber.Default, // Contrast color for buttons/actions
            AppbarBackground = Colors.DeepPurple.Darken3,
            AppbarText = Colors.Shades.White,
            Background = "#fafafa", // Colors.Gray.Lighten5, // Very light grey background
            Surface = Colors.Shades.White, // White cards/papers
            DrawerBackground = Colors.Shades.White,
            ActionDefault = Colors.Gray.Darken2,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.DeepPurple.Lighten2, // #9575CD (Softer purple for dark)
            Secondary = Colors.Amber.Lighten2,
            Background = "#121212", // True dark background
            Surface = "#1e1e2d", // Slightly lighter surface for cards
            AppbarBackground = "#1a1a27",
            AppbarText = Colors.Shades.White,
            DrawerBackground = "#1a1a27",
            ActionDefault = "#adadb1",
            TextPrimary = Colors.Shades.White,
            TextSecondary = "rgba(255,255,255, 0.70)"
        }
    };

    private bool _isDrawerOpen = true;

    protected override void OnInitialized()
    {
        LayoutState.OnChange += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LayoutState.LoadStateAsync();
            StateHasChanged();
        }
    }

    private void ToggleDrawer()
    {
        _isDrawerOpen = !_isDrawerOpen;
    }

    public void Dispose()
    {
        LayoutState.OnChange -= StateHasChanged;
    }
}